<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
      <meta charset="UTF-8">
      <title>Login</title>
    </head>
    <body>
    <h1>Login</h1>

          <form action="/login" method="post">
                <div>
                  <label for="username">Username:</label>
                  <input type="text" id="username" placeholder="Username" name="username" required>
                </div>
                <div>
                  <label for="password">Password:</label>
                  <input type="password" id="password" placeholder="Password" name="password" required>
                </div>
                <div>
                  <button type="submit">Login</button>
                </div>

                <!-- Dados vindos do Model intanciados no Java no metodo doLogin -->
                <div th:if="${error}">
                  <p th:text="${error}" style="color: red;"></p>
                </div>

              <!-- Ou via parametro caso não instanciar pelo java, Exibir mensagem de erro, se houver -->
              <!-- <p th:if="${param.error}">Invalid username or password</p> -->

          </form>
    </body>
</html>